<?php
use Cake\Core\Configure;
use Cake\Error\Debugger;

$this->layout = 'error';

if (Configure::read('debug')) :
$this->layout = 'dev_error';

$this->assign('title', $message);
$this->assign('templateName', 'error400.ctp');

$this->start('file');
?>
<?php if (!empty($error->queryString)) : ?>
<p class="notice">
    <strong>SQL Query: </strong>
    <?= h($error->queryString) ?>
</p>
<?php endif; ?>
<?php if (!empty($error->params)) : ?>
<strong>SQL Query Params: </strong>
<?php Debugger::dump($error->params) ?>
<?php endif; ?>
<?= $this->element('auto_table_warning') ?>
<?php
if (extension_loaded('xdebug')) :
xdebug_print_function_stack();
endif;

$this->end();
endif;
?>
<div class="about-content about-articles-content eror-content">
    <div class="wrapper">
        <div class="row">
            <div class="col-md-6">
                <h2>Ошибка 404</h2>
                <p class="error">
                    <?= __d('cake', 'Данный адрес {0} не был найден.', "<strong>'{$url}'</strong>") ?>
                </p>
<!--                <p class="error-text">Вы зашли куда-то не туда, давайте я вас провожу куда надо</p>-->
                <a href="/">На главную</a>
            </div>
            <div class="col-md-6">
                <div class="error-img">
                    <img src="../img/main-about-bg.png">
                </div>
            </div>
        </div>
    </div>
</div>
