<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-12">
            	<div class="wysiwyg">
                <?=$politics['content']?>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
